body {
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
background-color:#F5F5F5;
color:#757575;
}

:root {
  --headline-color: #212121;
  --accent-color:#2196F3;
  --second-background:#2F303A;
  --secondary-text-color:#FFFFFF;
}

<!--Page-navigation
.logo {
  text-decoration:none;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  }

.web {
    color: var(--accent-color);
  }

  .logo {
    text-decoration:none;
    color: #000000;
  }
  
  .site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .item,
  .accent {
    text-decoration:none;
    color:var(--headline-color);
  }
  
  .accent:hover,
  .accent:focus {
  color: var(--accent-color);
  
  }
  
  <!--auth-nav
 
  .auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

  }
  .email,
  .tel-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .email,
  .tel-header {
  color:#757575;
  text-decoration:none;
  }
  
  .email:hover,
  .email:focus {
  color: var(--accent-color);
  }
  
  .list{
    list-style:none;
  }
  <!--main-content
  .footer,
  .hero-section {
    background: var(--second-background);
  }

.hero-title {
font-weight: 900;
font-size: 44px;
line-height:1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--secondary-text-color);
  }


  .btn { 
    background-color: var(--accent-color);
    cursor:pointer; 
  }

  .btn {
    font-family: 'Roboto';
    font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height:1.88;
      letter-spacing: 0.06em;
       color:var(--secondary-text-color);
  }

    
 .list-title {
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.list-title {
  color: var(--headline-color);
  }


.text{
font-size: 14px;
line-height: 1.71;
}
.activities,
.team {
font-size: 36px;
line-height:1.16;
text-align: center;

color: var(--headline-color);


}
.team-member {
font-weight: 500;
font-size: 16px;
line-height:1.18;
text-align: center;
color: var(--headline-color);

}
.position {
  font-size: 16px;
line-height: 1.18;
text-align: center;
}

<!--logo-footer
.footer {
  background-color: var( --second-background);
} 
.footer {
  background-color: var( --second-background);
  } 


.studio-footer {
  color: var(--secondary-text-color);
}
.contacts {
font-style: normal;
font-size: 14px;
line-height:1.71;

}
.address {
color:var(--secondary-text-color);
}
.email-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration:none;
}